@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary:#0f172a;
  --accent:#0ea5a4;
}

body{background-color: #f8fafc}

/* small utility */
.container {max-width: 1100px; margin-left: auto; margin-right: auto;}
